.bg {
	position: fixed;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.weather {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

.title {
	margin: 0 0 20px 0;
	font-size: 80px;
}

.weatherForm {
	max-width: 500px;
	width: 100%;
	margin: 0 0 30px 0;

	.city {
		padding: 10px 20px;
		width: 100%;
		display: block;
		text-align: center;
		font-weight: 500;
		outline: none;
		border-radius: 15px;
		border: none;
		font-size: 18px;
	}
}
.loader {
	display: none;
}

.apiData {
	.mainInfo {
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 30px;
		color: $mainInfoColor;
		border-radius: 10px;
		.degrees {
			display: flex;
			font-size: 40px;
			margin: 0 20px;

			span {
				margin: 0 0 0 10px;
				font-size: 14px;
			}
		}
		.info {
			p {
				margin: 0 0 4px 0;

				&:last-of-type {
					margin: 0;
				}
			}
		}

		.forecast {
			h2 {
			}
			align-items: center;
			font-size: 500;
		}
	}

	.days {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 30px;
		margin: 20px 0 0 0;
		color: $mainInfoColor;
		border-radius: 10px;
	}
}
